.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.close-bar{
    margin-top: -3rem;
    padding-bottom: 1rem;
}

.navbar{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.jumbotron{
    margin-top: 2rem;
}